.body{
    height: 100vh;
    background-color: chocolate;
}
.video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.header{
    background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 250px;
}
.h1{
    font-size: 45px;
    font-family:'Raleway', sans-serif;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.label{
    font-family:'Raleway', sans-serif;
    font-size: 25px;
}

.div_date{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.div_submit{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.submitBtn{
    margin-top: 15px;
    background-color: lightblue;
    font-size: 15px;
    font-family:'Raleway', sans-serif;
}
.date{
    margin-top: 15px;
    font-size: 20px;
    justify-content: center;
    font-family:'Raleway', sans-serif;
}
.message{
    font-size: 25px;
}
.resetBtn{
    margin-top: 15px;
    background-color: lightblue;
    font-size: 15px;
    font-family:'Raleway', sans-serif;
}


