.body{
    height: 100vh;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 25%;
    background-color: plum;
    height: 30%;
}

.header .h1{
    font-size: 45px;
    font-family: 'Raleway', sans-serif;
    color: beige;
    padding-left: 20px;
}

.video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkseagreen;
    height: 50%;
}

.main .div_date{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.main .div_date .label{
    font-family:'Raleway', sans-serif;
    font-size: 25px;
    color: beige;
}

.main .div_date .date{ 
    margin-top: 15px;
    font-size: 20px;
    justify-content: center;
  

}

.main .div_submit{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main .div_submit .submitBtn{
    margin-top: 20px;
    font-size: 15px;
    font-family:'Raleway', sans-serif;
}

.main .resetBtn{
    margin-top: 15px;
    font-size: 15px;
    font-family:'Raleway', sans-serif;
}
.main .message{
    font-size: 20px;
    color: beige;
    font-family:'Raleway', sans-serif;
    margin-top: 10px;
}

.footer{
    background-color:lightcoral;
    height: 20%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.footer .credit{
    font-family:'Raleway', sans-serif;
    color: lightgray;
    font-size: 18px;
}

@media all and (min-width: 480px){

}





