.body{
    height: 100vh;
    background-color: green;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.header .h1{
    font-size: 45px;
    font-family: 'Raleway', sans-serif;
    color: beige;
}

.video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .message{
    font-size: 20px;
    color: beige;
    font-family:'Raleway', sans-serif;
    margin-top: 10px;
}

.main .credit{
    font-family:'Raleway', sans-serif;
    color: lightgray;
    font-size: 15px;
}

.main .resetBtn{
    margin-top: 15px;
    font-size: 15px;
    font-family:'Raleway', sans-serif;
} 

.div_date{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.div_date .label{
    font-family:'Raleway', sans-serif;
    font-size: 25px;
    color: beige;
}

.div_submit{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.div_submit .submitBtn{
    margin-top: 20px;
    font-size: 15px;
    font-family:'Raleway', sans-serif;
}
/* .date{
    margin-top: 15px;
    font-size: 20px;
    justify-content: center;
    font-family:'Raleway', sans-serif;
} */





